@charset "UTF-8";
/* CSS Document **/

html, body {
	height:100%;

}

.middle {
	font-family:"Songti SC Black";
}


#site .table tr td .left {
	
	text-align: center;
    width: 100px;
	background: #bbd0e9;
    font: 1.5em 'Arial';
	position: absolute;
	height:auto;

	
      
	}
	

	
#site .table. .wrapper .doc {
	margin:0
}
	
	
#site .table .left .result-text {
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
	font-weight:bolder;
	
	
}


#site .table .left .topic-text {
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
	font-weight:bolder;
	
	
}

#site .table .left .common-text {
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
	font-weight:bolder;
	
	
}

#site .table .left .result-score {
	color:#F00 !important;
    font-family: 'Arial' !important;
	font-size: 20px; !important
	
	
	
}

#site .table .left .topic-score {
	color:#F00 !important;
    font-family: 'Arial' !important;
	font-size: 20px; !important
	
	
	
}

#site .table .left .common-score {
	color:#F00 !important;
    font-family: 'Arial' !important;
	font-size: 20px; !important
	
	
	
}

#site .table .wrapper {
    padding: 10px 10px 100px 150px;
	
	
	
}



#site .table .wrapper .description {
    width: 100%;
    margin: 0;
	padding-top:30px;
	
}





#site .table  {
	
    vertical-align: top;
    color: #636363;
    padding: 0;
    font-size: 13px;
	border: 2px ridge #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 5px 2px #eee;
    position: relative;
	width:70%;
    background-color: #fff;
	margin:0px auto;
	
	
     	
}






#site .table td:hover {
    background: #f9f9f9;
    color: #555;
	border-color: #5c9be0;
	
}



#site .table strong {
    font-weight: normal;
    font-size: 18px;
	font-family:"Songti SC Black";
    color: #3472bb
	
}






