@charset "UTF-8";

.grey{
	background-color:#f7f7f7;

  
	 
}

.nav {
	color:#09C;
	font-size:24px;
	float:left;
	
	
}




.nav a{
	color:#5a5a5a;
	font-size:11px;
	font-weight:bold;
	padding: 14px 10px 14px 10px;
	text-transform:uppercase;
}


	

.login a{
	color:#5a5a5a;
	font-size:11px;
	font-weight:bold;
	padding: 14px 10px 14px 10px;
	text-transform:uppercase;
	
}

.login{
	color:#09C;
	font-size:24px;
	float:right;
	
	
}




.below a{
	color:#5a5a5a;
	font-size:11px;
	font-weight:bold;
	padding: 14px 10px 14px 10px;
	text-transform:uppercase;
}

.below{

	font-size:24px;
	margin:auto;
	
	
	
}


.below li{
	display:inline;
	float:right;
	padding:inherit;
	
}



.jumbotron {
	height:500px;
	background-image:url(http://upload.wikimedia.org/wikipedia/commons/thumb/1/10/20090529_Great_Wall_8185.jpg/1280px-20090529_Great_Wall_8185.jpg);
	clear:both;

}

.jumbotron h1 {
	color:#fff;
	font-size:48px;
	font-weight:bold;
	font-family:Courier;
	
}
	
.jumbotron p {
	color:#fff;
	font-size:20px;
	border-left:455px;
	
	
}

.learn-more{
	background-color:#efefef;
    border-bottom: 10px solid #dbdbdb;
}

.learn-more h3{
	font-family:Courier;
	font-weight:bold;
}

.learn-more a{
	color:blue;
	font-weight:bold;
}

.nav li{
	display:inline;
	padding-right:40px;
}

.login li{
	display:inline;
	padding-right:40px;
}





.jumbotron .container{
	position:relative;
	top:50px;
}

a:hover{
	color: #cc0000;
	font-weight: bold;
	text-decoration: none;
	
}


a:visited {
    color:#EE9A00;
}

